.photo-grid__button {
  background-image: url(../../../images/heart_disabled.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  transition: .5s;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 5px;
  background-color: #FFFFFF;
  padding: 0;
}

.photo-grid__button:hover {
  opacity: .5;
}

