.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  object-fit: cover;
  transition: 0.5s;
}

.profile__avatar:hover {
  opacity: .2;
  cursor: pointer;
}

.profile__avatar:hover + .profile__icon {
  display: block;
}

@media all and (min-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}
