.popup__container {
  min-width: 430px;
  min-height: 330px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  cursor: default;
}

@media all and (max-width: 768px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
  }
}
