.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 282px;
  margin: 0 auto;
  margin-bottom: 33px;
}

@media all and (min-width: 768px) {
  .profile__info {
    max-width: 336px;
    margin: 0;
    margin-left: 30px;
  }
}
